<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <menuitem id="menu_team_root"
                  name="Delivery"
                  sequence="10"/>

    <menuitem id="menu_team_operations"
                  name="Delivery Teams"
                  parent="menu_team_root"
                  sequence="11"/>
</odoo>